.header {
  height: 40px;
}
.header-left {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  width: 199px;
  border-right: 1px solid #000;
}
.toggle img {
  height: 24px;
  margin-right: 10px;
}
.logo img {
  height: 24px;
  width: 130px;
}
